In [ ]:
!pip install yfinance==0.2.12
!pip install pandas_market_calendars

Library import

In [7]:
import yfinance as yf
import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error, mean_absolute_error
from prophet import Prophet
from tensorflow.keras.layers import Dense
from sklearn.model_selection import train_test_split
import datetime 
from tensorflow.keras.layers import Input,LSTM
from tensorflow.keras.models import Sequential

Step 1: Data Collection

In [8]:
#daily data for past 10 years
data_daily_copy = yf.download("AAPL", period="10y", interval="1d")
data_daily_copy.to_csv('AAPL_daily_data.csv')

#monthly data for past 10 years
data_monthly = yf.download("AAPL", period="10y", interval="1mo")
data_monthly.to_csv('AAPL_monthly_data.csv')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

/Users/bsjatoi/Library/Python/3.9/lib/python/site-packages/yfinance/utils.py:517: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  quotes.loc[idx2, "High"] = _np.nanmax([quotes["High"][n - 1], quotes["High"][n - 2]])
/Users/bsjatoi/Library/Python/3.9/lib/python/site-packages/yfinance/utils.py:518: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  quotes.loc[idx2, "Low"] = _np.nanmin([quotes["Low"][n - 1], quotes["Low"][n - 2]])
/Users/bsjatoi/Library/Python/3.9/lib/python/site-packages/yfinance/utils.py:519: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  quotes.loc[idx2, "Close"] = quotes["Close"][n - 1]
/Users/bsjatoi/Library/Python/3.9/lib/python/site-packages/yfinance/utils.py:525: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  quotes.loc[idx2, "Adj Close"] = quotes["Adj Close"][n - 1]
/Users/bsjatoi/Library/Python/3.9/lib/python/site-packages/yfinance/utils.py:526: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  quotes.loc[idx2, "Volume"] += quotes["Volume"][n - 1]

In [9]:
data_daily_copy.sample(5)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2015-05-15,32.267502,32.372501,32.052502,32.192501,28.975080,152832000
2023-03-29,159.369995,161.050003,159.350006,160.770004,159.699814,51305700
2020-06-10,86.974998,88.692497,86.522499,88.209999,86.147217,166651600
2024-05-13,185.440002,187.100006,184.619995,186.279999,186.279999,72044800
2015-01-07,26.799999,27.049999,26.674999,26.937500,24.049515,160423600

In [10]:
#remove one week
one_week_ago = datetime.date.today() - datetime.timedelta(days=7)
data_daily = data_daily_copy[data_daily_copy.index < pd.Timestamp(one_week_ago)]
data_daily.to_csv('AAPL_data_daily_Week_back.csv')

In [11]:
data_monthly.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 120 entries, 2014-09-01 to 2024-08-01
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       120 non-null    float64
 1   High       120 non-null    float64
 2   Low        120 non-null    float64
 3   Close      120 non-null    float64
 4   Adj Close  120 non-null    float64
 5   Volume     120 non-null    int64
dtypes: float64(5), int64(1)
memory usage: 6.6 KB